.box {
  border: 1px solid #ccc;
  text-align: center;
  width: calc(50% - 10px);
  border-radius: 10px;
  font-size: 13px;
  color: gray;
  padding: 20px;
}
.box .icon {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}
