.btn {
  border-radius: 0;
}
.inputs {
  width: 130px;
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.inputs .value {
  flex: 1 1 auto;
  line-height: 30px;
  font-size: 17px;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #edf1ff;
  border: 1px solid #edf1ff;
}
